BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Stroustrup
AlignAfterOpenBracket: true
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
