*.autosave
# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

debug/

release/

*.vcxproj

openPilotLog.vcxproj.filters

openPilotLog.vcxproj.user

.vs/openPilotLog/v16/
=======

release/qmake/temp/

release/

out/build/x64-Debug (default)/CMakeFiles/ShowIncludes/

out/build/x64-Debug (default)/

debug/

.vs/

openPilotLog.vcxproj

openPilotLog.vcxproj.filters

openPilotLog.vcxproj.user

# Disable localization updates
l10n/
# DS files
*.DS_Store
